.createNewPasswordPage {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 247, 247);
}

.createNewPasswordForm {
    height: 40vh;
    width: 40%;
}